# Virtual environment
venv/
ENV/
env/

# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs and database files
*.log
*.sqlite3

# PyInstaller
*.spec

# Distribution / packaging
build/
dist/
*.egg-info/
